<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to your heart rate data to display real-time heart rate.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app needs to update your health data for tracking purposes.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
